<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description"
        content="ZenGlass is a glasses shop specially designed for its customers with the option of online purchase and delivery by courier.">
    <meta name="keywords" content="glasses, ZenGlass, eyeglasses, sunglasses, view, lenses, products">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ZenGlass</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/ico/apple-touch-icon.png">
    <link rel="manifest" href="/resources/images/ico/site.webmanifest">
    <link rel="mask-icon" href="/resources/images/ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/resources/images/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <a class="linkTop" href="#top" title="Back to top">&#5123;</a>
    <%- include("../fragmente/header.ejs") %>
        <h2 class="center">Men Glasses</h2>
        <div class="center">
            <div class="duotone" style="background-image: url(../../resources/images/men-glasses.jpg)">
            </div>
        </div>
        <hr class="custom-hr">
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>