<footer class="footer">
    <div class="center">
        <a class="btn btn-primary" href="#">Back To Top</a>
    </div>
    <address>
        <p>Call us here:
            <a href="tel:0040799960233">0040799960233</a>
        </p>
        <p>Send an email <a href="mailto:alechivescu@gmail.com?subject=ZenGlassInterest&body=Message">here</a></p>
        <p>Showroom Bucharest: Strada Paunului nr. 13. Check it up
            <a
                href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics/@44.4355352,26.0908319,15z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">here</a>
        </p>
    </address>
    <section id="social_media">
        <p>Socialize with us</p>
        <a class="link_social_media" href="https://www.instagram.com/" target="_blank">
            <img id="instagram" src="/resources/images/social_media/instagram.png" alt="Instagram">
        </a>
        <a class="link_social_media" href="https://www.youtube.com/watch?v=xll2Ycc6Fv0&ab_channel=HowMuchTech"
            target="_blank">
            <img id="facebook" src="/resources/images/social_media/facebook.png" alt="Facebook">
        </a>
        <a class="link_social_media" href="https://web.whatsapp.com/" target="_blank">
            <img id="whatsapp" src="/resources/images/social_media/whatsapp.png" alt="Whatsapp">
        </a>
        <a class="link_social_media" href="https://www.youtube.com/" target="_blank">
            <img id="youtube" src="/resources/images/social_media/youtube.png" alt="Youtube">
        </a>
    </section>
    <small>ZenGlass &#169; <time datetime="2022-10-18">2022 OCT 18</time> - Registered Trademark, all rights
        reserved.</small>
    <p id="banner">This is a University Project. <span id="mesaj-cookies">Do you accept all the cookies?<button id="ok_cookies">Ok</button></span></p>
</footer>