<header id="header">       
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand reflection-container">
            <p class="reflection-text">ZenGlass</p>
            <div class="reflection-text-inverse">ZenGlass</div>
        </div>  
        <label id="hamburger" for="ch-menu">
            <i class="fa fa-bars"></i>
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="menu">
            <li><a href="/index"><i class="fa fa-home"></i> <span class="home-button">Home</span></a></li>
            <li>
                <a href="/produse?tip=man">Men</a>
            </li>
            <li><a href="/produse?tip=woman">Women</a>
            </li>
            <li><a href="/produse?tip=child">Kids</a>
            </li>
            <li><a href="#customer_reviews">Explore</a>
                <ul>
                    <li><a href="/index#best_sellers"><i class="fa fa-arrow-right"></i> Best Sellers</a></li>
                    <li><a href="/index#new_arrivals"><i class="fa fa-arrow-right"></i> New Arrivals</a></li>
                    <li><a href="/index#frames"><i class="fa fa-arrow-right"></i> Types of Frames</a></li>
                </ul>
            </li>
            <li><a href="/about_us">About Us</a>
            </li>
        </ul>
    </nav>
    <p id="watermark"></p>
</header>