<header id="header">
    <div class="reflection-container">
        <p class="reflection-text">ZenGlass</p>
        <div class="reflection-text-inverse">ZenGlass</div>
    </div>         
    <nav>
        <label id="hamburger" for="ch-menu">
            <i class="fa fa-bars"></i>
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="menu">
            <li><a href="/index"><i class="fa fa-home"></i> <span class="home-button">Home</span></a></li>
            <li>
                <a href="/men-glasses">Men</a>
                <ul>
                    <li><a href="/men-glasses"><i class="fa fa-arrow-right"></i> Glasses</a></li>
                    <li><a href="/men-sunglasses"><i class="fa fa-arrow-right"></i> Sunglasses</a></li>
                </ul>
            </li>
            <li><a href="women.html">Women</a>
                <ul>
                    <li><a href="women_glasses.html"><i class="fa fa-arrow-right"></i> Glasses</a></li>
                    <li><a href="women_sunglasses.html"><i class="fa fa-arrow-right"></i> Sunglasses</a></li>
                </ul>
            </li>
            <li><a href="kids.html">Kids</a>
                <ul>
                    <li><a href="kids_glasses.html"><i class="fa fa-arrow-right"></i> Glasses</a></li>
                    <li><a href="kids_sunglasses.html"><i class="fa fa-arrow-right"></i> Sunglasses</a></li>
                </ul>
            </li>
            <li><a href="#customer_reviews">Explore</a>
                <ul>
                    <li><a href="#best_sellers"><i class="fa fa-arrow-right"></i> Best Sellers</a></li>
                    <li><a href="#new_arrivals"><i class="fa fa-arrow-right"></i> New Arrivals</a></li>
                    <li><a href="#frames"><i class="fa fa-arrow-right"></i> Types of Frames</a></li>
                </ul>
            </li>
            <li><a href="/about_us">About Us</a>
            </li>
        </ul>
    </nav>
    <p id="watermark"></p>
</header>