#container_animatie {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(231, 138, 138);
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    -webkit-box-align: center;
}

#derulant {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    animation-name: go;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

#derulant>* {
    flex-shrink: 0;
    margin: 0;
    position: relative;
}

#container_animatie figure:hover figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 1.5em;
    background: rgb(255, 162, 162);
    text-align: center;
}

@keyframes go {
    0% {
        left: 0px;
    }

    100% {
        left: -800%;
    }
}